{% load static %}
<html>
    <head>
        <title>Django blog</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1> <a href="{% url 'home'%}"> Django blog </a></h1>
            <a href="{% url 'post_yeni' %}"> +Yeni blog post </a>
        </header>
        {% if user.is_authenticated %}
            <p>Hoşgeldin {{user.username}}!</p>
            <p><a href="{% url 'logout' %}">Log out</p>
        {% else %}
            <p>Giriş yapamadınız!</p>
            <a href="{% url 'login' %}"> Log in </a>
        {% endif %}
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>